.contacts {
  background-color: $main-accent;
  display: grid;
  padding-bottom: 120px;

  @include on-tablet {
    padding-bottom: 102px;
  }

  @include on-laptop {
    padding-bottom: 164px;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__container {
    @include page-grid;

    row-gap: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 4;
    }

    @include on-laptop {
      grid-column: 1 / 6;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 2;
    }

    @include on-laptop {
      grid-column: 8 / -1;
      align-items: flex-start;
    }
  }

  &__button {
    margin-top: 16px;
  }

  &__textarea {
    height: 148px;
    resize: none;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: $standart-line-height;
    margin: 0 0 8px;
  }

  &__value {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: $standart-line-height;

    @include add-transition(color);

    &:hover {
      color: #afafaf;
    }
  }
}
