.details {
  background-color: $main-accent;
  margin: 0;
  padding-block: 92px 80px;

  &__title {
    text-align: center;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    width: 278px;
    margin: 0 auto;
    display: flex;
    align-self: center;
    justify-content: center;

    @include on-tablet {
      width: 392px;
    }

    @include on-laptop {
      width: 324px;
    }
  }

  @include on-tablet {
    padding-block: 120px;
  }

  @include on-laptop {
    padding-block: 144px 180px;
  }
}

.category__wrapper {
  display: grid;
  row-gap: 40px;

  @include on-tablet {
    row-gap: 48px;
  }
}
