.header {
  background-image: url('../images/header-background-mobile.png');

  @include on-tablet {
    background-image: url('../images/header-background-tablet.png');
    background-position: center center;
  }

  @include on-laptop {
    background-image: url('../images/header-background-laptop.png');
    background-position: top top;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;

  &__top-bar {
    .top-bar__logo img {
      width: 130px;
    }
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }

    @include on-laptop {
      padding-bottom: 203px;
    }
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-laptop {
      font-size: 80px;
    }
  }
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 100vh;
}
