@import './variables/variables';
@import './mixins/mixin';
@import './blocks/page';

.container {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-laptop {
    padding-inline: 120px;
  }
}
a {
  text-decoration: none;
  color: $main-accent;
}

@import './elements/top-bar';
@import './elements/card';
@import './elements/category';
@import './elements/button';
@import './elements/input';
@import './blocks/nav';
@import './blocks/header';
@import './blocks/menu';
@import './blocks/section';
@import './blocks/home';
@import './blocks/compares';
@import './blocks/details';
@import './blocks/contacts';
@import './blocks/footer';
