@use '../variables/variables.scss';

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $top-bar-height;

  &__logo {
    img {
      display: block;
      max-width: 100%;
      width: 136px;
    }
  }
}
